*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.banner {
    min-height: 100vh;
}

.header {
    margin-top: 50px;
    color: #007FFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__image {
    width: 80px;
    border-radius: 50%;
}

.nav__link:nth-child(2) {
    margin-left: 73px;
}

.nav__link:nth-child(4) {
    margin-left: 73px;
}

.title {
    text-align: center;
    margin-top: 120px;
}

.title__main {
    font-size: 50px;
}

.title__side {
    color: #007FFF;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.social__icon:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
}

.main__image {
    width: 100%;
}

.main__row {
    margin-bottom: 50px;
}

.about {
    margin-top: 50px;
    min-height: 100vh;
}

.about__title {
    text-align: center;
}

li {
    list-style: url('../images/check-circle-fill.svg');
}

.education {
    text-align: center;
    margin-top: 50px;
}

.education h2 {
    color: #007FFF;
}

.footer {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.footer h5 {
    color: #007FFF;
}